.layout{
  width: 100vw;
  height: 100vh;

  .logo{
    width: 98%;
    height: 60px;
    margin: 5px auto;
    background: #ccc;
    font-size: 20px;
    text-align: center;
    padding: 10px 2px 2px;


  }
  .header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    .menu-header{
      margin-left: 1100px;
    }
  }
  .button:hover{
    background: aquamarine;
  }
}
.dropdown{
  float: right;
  margin-right: 50px;

}

