.ant-page-header .ant-page-header-heading-title{
    
    font-size: 30px;
}
.ant-page-header .ant-page-header-heading-sub-title {
    font-size: 16px;
}

.items{
    div{
        width: 25vw;
        margin: 18px 0;
        font-size: 20px;
    }
}

.heart :hover{
    color:red;
    cursor: pointer;
    width: 25px;
    height: 25px;
}